<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> Proyecto Quiz </h1>
    <p> Autor: Miguel Ángel Fernández </p>
	<p><a href="/"> Volver </a></p>
  </body>
</html>
